
<div id="age-verification-overlay" style="display: flex;">
  <div id="age-verification-popup">

    <h3>Age verifier</h3>
    <p>Age verifier Age verifier Age verifier</p>
    <button id="age-confirm">
      confirm
    </button>
    <button id="age-deny">
      cancel
    </button>
    
  </div>
</div>